$font: 'Nunito';
$backgrounds: #F8F9FC;
$blue-texts: #2F55D4;
$grey-texts: #8492A6;
$small: 700px;
$medium: 900px;

.career {
    &__section1{
        display: flex;

        @media screen and (max-width: $medium) {
            flex-direction: column;
        }
    }
    &__left {
        width: 51%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 90px;

        @media screen and (max-width: $medium) {
            width: 100%;
        }
        img {
            width: 67%;
            height: auto;

            @media screen and (max-width: $medium) {
                width: 85%;
                margin-left: auto;
                margin-right: auto;
            }
        }


    }
    &__right {
        &-title {
            font-size: 35px;
            font-family: $font;
            color: #161C2D;
            margin-top: 90px;
            margin-bottom: 60px;

            @media screen and (max-width: $medium) {
                text-align: center;
                width: 85%;
                margin-top: 35px;
                margin-bottom: 20px;
                margin-left: auto;
                margin-right: auto;
                font-size: 24px;
            }
        }
        &-description {
            font-family: $font;
            font-size: 20px;
            color: $grey-texts;

            @media screen and (max-width: $medium) {
                text-align: center;
                width: 85%;
                margin-left: auto;
                margin-right: auto;
            }
        }        
        
        @media screen and (max-width: $medium) {
            order: -2;
        }
    }
    &__title2 {
        font-family: $font;
        font-size:24px;
        text-align: center;
        color: black;
        margin-top: 40px;
        margin-bottom: 60px;

        @media screen and (max-width: $medium) {
            text-align: center;
            width: 85%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__wrapper-offer {
        width: 85%;
        margin-left: auto;
        margin-right: auto;

        div {
            background-color: #F8F9FC ;
            border-radius: 10px;
            margin-bottom: 50px;

            h2 {
                font-family: $font;
                font-size: 24px;
                padding-top: 34px;
                padding-bottom: 34px;
                padding-left: 35px;

                @media screen and (max-width: $medium) {
                    text-align: center;
                    width: 85%;
                    margin-right: auto;
                    margin-left: auto;
                    padding-right: 0;
                    padding-left: 0;
                }
            }

            p {
                font-family:$font;
                font-size: 18px;
                color: $grey-texts;
                padding-bottom: 60px;
                padding-left: 35px;
                width: 57%;

                @media screen and (max-width: $medium) {
                    text-align: center;
                    width: 85%;
                    margin-right: auto;
                    margin-left: auto;
                    padding-right: 0;
                    padding-left: 0;
                }
            }
        }
    }
}