$font: 'Nunito';
$backgrounds: #F8F9FC;
$blue-texts: #2F55D4;
$grey-texts: #8492A6;
$small: 700px;
$medium: 900px;

.collab {
    &__section1 {
        width: 100%;
        display: flex;

        @media screen and (max-width: $small) {
            flex-direction: column;
        }
    }
    &__left {
        width: 38%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: $small) {
            width: 100%;
            margin-top: 50px;
        }

        img{
            width: 80%;
            height: auto;
        }
    }
    &__right{
        width: 62%;

        @media screen and (max-width: $small) {
            width: 100%;
        }

        &-title {
            font-family: $font;
            color: #161C2D;
            font-size: 35px;
            margin-top: 80px;

            @media screen and (max-width: $small) {
                font-size: 25px;
                margin-top: 50px;
                text-align: center;
            }

        }
        &-subtitle {
            font-family: $font;
            color:$blue-texts;
            font-size: 35px;
            margin-top: 15px;

            @media screen and (max-width: $small) {
                font-size: 25px;
                text-align: center;
            }
        }
        &-description{
            font-family: $font;
            color: $grey-texts;
            font-size: 18px;
            width: 85%;
            margin-top: 20px;

            @media screen and (max-width: $small) {
                text-align: center;
                margin-left: auto;
                margin-right: auto;;
            }
        }
    }
    &__title2 {
        color: #161C2D;
        font-family: $font;
        font-size: 22px;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 50px;
    }
    &__wrapper{
        width: 82%;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;

        @media screen and (max-width: $small) {
            flex-direction: column;
            margin-bottom: 50px;
        }
    }
    &__single {
        width:30%;
        display: flex;
        flex-direction: column ;
        border: 2px solid rgba(47, 86, 212, 0.15);
        border-radius: 10px;
        position: relative;

        @media screen and (max-width: $small) {
            width: 100%;
            margin-bottom: 20px;
        }

        &-title{
            font-size: 20px;
            font-family: $font;
            color: $blue-texts;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 15px;
            margin-bottom: auto;

        }
        &-desc1{
            padding-right: 10px;
            margin-top: 10px;
            padding-left: 10px;
            font-family: $font;
            font-size: 16px;
            color:$grey-texts;
            margin-bottom: 70px;
        }
        &-step{
            font-size: 45px;
            margin-bottom: 5px;
            color:rgba(47, 86, 212, 0.15);
            font-family: $font;
            padding-left: 10px;
            font-weight: 700;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    &__button{
        background-color: $blue-texts;
        border-radius: 10px;
        border: none;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 55px auto 20px auto;

        &:before {

        }

        @media screen and (max-width: $small) {
            margin-top: 35px;
        }
        a{
        color: white;
        font-family: $font;
        font-size: 16px;
        text-decoration: none;
        }
    }
    &__faq {
        display: flex;
        width: 80%;
        justify-content: space-between;
        align-items: center;
        margin: 70px auto 100px auto;

        &-title{
            font-family: $font;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            font-size: 24px;
            margin-bottom: 60px;
            margin-top: 60px;

        }

        &-left{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;


            img {
                width: 80%;
                height: auto;
            }
        }
        &-right {
            width: 50%;
            display: flex;
            flex-direction: column;
        }

        &-single {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        &-question-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            height: 57px;
            background-color: #F2F2F2;
            width: 90%;
            margin-bottom: 20px;
            position: relative;
            cursor: pointer;
            p {
                font-size: 18px;
                font-family: $font;
                font-weight: 700;


                &:after {
                    content: "+";
                    right: 5%;
                    font-size: 18px;
                    position: absolute;
                    font-family: $font;
                    font-weight: 700;
                    margin-left: 10%;
                }

            }
        }
        &-answear {
            display: none;
        }

        &-answear-active {
            font-family: $font;
            margin-bottom: 15px;
            }
        }

    }