$background-footer: #2F2E41;
$grey-texts: #8492A6;
$font: 'Nunito';

.footer {
    &__wrapper {
        width: 100%;
        background-color: $background-footer;
        height: 100px;
        display: flex;
        align-items: center;
    }
    &__logo {
        font-size: 24px;
        font-weight: 700;
        font-family: $font;
        color: $grey-texts;
        margin-left: 4%;
    }
}