$font: 'Nunito';
$backgrounds: #F8F9FC;
$blue-texts: #2F55D4;
$grey-texts: #8492A6;
$small: 700px;

.gamification {
    &__first {
    display: flex;
    width: 100%;

    @media screen and (max-width: $small) {
        flex-direction: column;
    }
    }

    &__title {
    font-family: $font;
    color: #161C2D;
    font-size: 35px;

    @media screen and (max-width: $small) {
        font-size: 25px;
    }
    }
    &__left{
        width:36%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: $small) {
            order: -2;
            width: 100%;
        }
        img {
            height: auto;
            width: 70%;
            margin-top: 54px;
            margin-bottom: 54px;
        }
    }
    &__right{
        width: 64%;

        @media screen and (max-width: $small) {
            order: -3;
            width: 100%;
        }
        h1 {
            margin-top: 70px;

            @media screen and (max-width: $small) {
                text-align: center;
                margin-top: 50px;
            }
        }
        p {
            margin-top: 23px;
            width: 75%;

            @media screen and (max-width: $small) {
                text-align: center;
                width: 100%;
                padding-left: 10%;
                padding-right: 10%;
            }
        }
    }

    &__description {
    color: $grey-texts;
    font-size: 18px;
    font-family: $font;
    }

    &__section2 {
        background-color: $backgrounds;

    }
    &__description2 {
        font-family: $font;
        font-size: 18px;
        color: $grey-texts;
        padding-top: 54px;
        padding-bottom: 89px;
        text-align: center;
        padding-left: 8.5%;
        padding-right: 8.5%;

    }
    &__rectangles {
        display: flex;
        width: 74%;
        margin-left: auto;
        margin-right: auto;
        // align-items: center;
        justify-content: space-between;

        @media screen and (max-width: $small) {
            flex-direction: column;
        }
    }
    &__rec {
        background-color: white;
        width: 45%;
        display: flex;
        border-radius: 10px;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        margin-bottom: 100px;

        @media screen and (max-width: $small) {
            width: 100%;
            margin-bottom: 30px;
        }

        img {
            width: 50%;
            height: 50px;
            align-items: center;
            margin-top: 28px;
            margin-bottom: 28px;
        }

        p{
            font-family: $font;
            color:$grey-texts;
            font-size: 16px;
            text-align: center;
            margin-bottom: 45px;
            width: 75%;
        }
    }
    &__button{
        background-color: $blue-texts;
        border-radius: 10px;
        border: none;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 55px auto;
        a{
        color: white;
        font-family: $font;
        font-size: 16px;
        text-decoration: none;
        }
    }
}