$small: 700px;
$medium: 900px;
$font: 'Nunito';
$backgrounds: #F8F9FC;
$blue-texts: #2F55D4;
$small-font: 24px;
$big-font: 35px;


.home__title1 {
    font-family: $font;
    font-size: 35px;
    color: #161C2D;
    margin-top: 90px;
    margin-bottom: 50px;

    @media screen and (max-width: $small) {
        font-size: 25px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 85%;
        margin-right: auto;
        margin-left: auto;
    }
}
.home__title2{
    font-family: $font;
    font-size: 35px;
    color: $blue-texts;
    font-weight: 600;
    margin-bottom: 50px;

    @media screen and (max-width: $small) {
        display: flex;
        justify-content: center;
        align-items:center;
        margin-left: auto;
        margin-right: auto;
    }

    div {

        @media screen and (max-width: $small) {
            display: flex;
            justify-content: center;
            align-items:center;
            margin-left: auto;
            margin-right: auto;
        }

    }

    span {
        @media screen and (max-width: $small) {
            text-align: center;
        }
    }

    @media screen and (max-width: $small) {
        font-size: 25px;
        text-align: center;
        margin-top: 40px;
    }

}
.home__description {
    font-family: $font;
    color: #8492A6;
    font-size: $small-font;
    margin-top: 50px;
    margin-bottom: 150px;

    @media screen and (max-width: $small) {
        font-size: 16px;
        text-align: center;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }
}
.home__left1 {
    padding-left: 8.125%;
    width: 42%;

    @media screen and (max-width: $small) {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
    }
}
.home__section1 {
    background-color: $backgrounds;
    display: flex;
    min-height: 737px;

    @media screen and (max-width: $small) {
        flex-direction: column;
    }
}
.home__right1 {
    width: 58%;

    @media screen and (max-width: $small) {
        width: 100%;
        order: -2;
    }
}
.home__img1-wrapper {
    padding-left: 25%;
    position: relative;
    height: 100%;
    width: 100%;

    img.rocket__svg {
        position: absolute;
        animation: rocket 1s ease-in 2s;
        animation-fill-mode: both;
        padding-left: 25%;
        width: 50%;
        right: 35%;
        top: 6%;
        max-height: 650px;
    
    }
    
    img.background__svg {
        position: absolute;
        right: 10%;
        padding-left: 25%;
        width: 100%;
        height: auto;
        max-height: 700px;
        min-height: 500px;
        top: 6%;
    }

    @media screen and (max-width: $small) {
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        

        img {
            width: 80%;
            margin-top: 56vh;
        }
    }
}
.home__section3 {
    background-color: $backgrounds;
    width: 100%;

    @media screen and (max-width: $small) {
        padding-bottom: 40px;
    }
}
.home__section3-content {
    display: flex;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
    

    @media screen and (max-width: $small) {
        flex-direction: column;
    }

}

.home__section3-desc, .home__section3-desc1, .home__section3-desc2, .home__section3-desc3 {
    font-family: $font;
    font-size: 20px;
    color: black;
    text-align: center;
    margin-bottom: 52px;
    margin-top: 30px;
    text-decoration: none;
}
.home__section3-desc3 {
    width: 90%;
    margin-top: 30px!important;
    margin-bottom: 25px!important;
    max-width: 270px;

}
.home__section3-rectangle1, .home__section3-rectangle2, .home__section3-rectangle3, .home__section3-rectangle4 {
    background-color: hsla(226, 66%, 51%, 0.03);
    width: 21%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 42px;
    margin-bottom: 67px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
        width: 25%;
    }

    @media screen and (max-width: $small) {
        width: 70%;
        margin-top: 30px;
        margin-bottom: 0;
    }

    img {
        margin-top: 40px;
    }
}
.home__section3-title {
    text-align: center;
    font-family: $font;
    color: #3C4858;
    padding-top: 42px;

    @media screen and (max-width: $small) {
        padding-top: 150px;
    }
}
.home__section4-clutch {
    width: 100%;
    display: flex;

    @media screen and (max-width: $small) {
        flex-direction: column;
    }
}
.home__section4-left{
    width: 51.25%;

    @media screen and (max-width: $small) {
        width: 100%;
    }
}
.home__section4-right{
    width: 48.75%;
    padding-right: 9.5%;

    @media screen and (max-width: $small) {
        width: 100%;
        padding-right: 0;
    }

    h2 {
        font-family: $font;
        text-align: center;
        color:$blue-texts;
        font-size: 30px;
        font-weight: 400;
        margin-top: 80px;

        @media screen and (max-width: $small) {
            font-size: 25px;
            margin-top: 50px;
            text-align: center;
        }
    }
    p {
        font-family: $font;
        color: #8492A6;
        font-size: 18px;
        margin-top: 69px;
        text-align: center;
        margin-bottom: 105px;

        @media screen and (max-width: $small) {
            font-size: 16px;
            text-align: center;
        }
    }
}
.home__section5-technologies{
    margin-left: auto;
    margin-right: auto;
    padding-top: 79px;
    padding-bottom: 94px;
    background-color: $backgrounds;

    @media screen and (max-width: $small) {
        padding-bottom: 70px;
    }

}
.home__section5-content {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: $small) {
        flex-direction: column;
        width: 100%;
    }
    
}
.home__section5-rectangle , .home__section5-rectangle2 , .home__section5-rectangle3, .home__section5-rectangle4 {
    width: 48%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(47, 85, 212, 0.03);

    @media screen and (max-width: $small) {
        width: 87%;
        margin-right: auto;
        margin-left: auto;
        flex-direction: column;
    }
    p {
        font-family: $font;
        text-align: center;
        padding: 34px 27px 33px 20px;
        font-size: 18px;
        color: #8492A6;

        @media screen and (max-width: $small) {
            padding: 0;
            width: 85%;
            font-size: 16px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    img {
        padding-left: 20px;

        @media screen and (max-width: $small) {
            margin-top: 20px;
            padding-left: 0;
            margin-right: auto;
            margin-left: auto;
        }
    }
}
.home__section5-rectangle {
    margin-bottom: 48px;
    img {
        width: 67px;
        height: 74px;

        @media screen and (max-width: $small) {
            width: 50px;
            height: 60px;
        }
    }
}
.home__section5-rectangle2 {
    margin-bottom: 48px;
    img {
        width: 67px;
        height: 67px;

        @media screen and (max-width: $small) {
            width: 50px;
            height: 50px;
        }
    }
}
.home__section5-rectangle3{
    img {
        width: 90px;
        height: 45px;

        @media screen and (max-width: $small) {
            width: 70px;
            height: 35px;
        }
    }

    @media screen and (max-width: $small) {
        margin-bottom: 48px;
    }
    
}
.home__section5-rectangle4 {
    img {
        width: 58px;
        height: 58px;

        @media screen and (max-width: $small) {
            width: 45px;
            height: 45px;
        }
    }
}
.home__section6-title {
    font-family: $font;
    color:#3C4858;
    font-size: 30px;
    text-align: center;
    margin-top: 73px;
    margin-bottom: 86px;
    font-weight: 500;

    @media screen and (max-width: $small) {
        font-size: 25px;
    }
}
.home__section6-number1, .home__section6-number2, .home__section6-number3, .home__section6-number4 {
    color:$blue-texts;
    font-family: $font;
    font-size: 30px;
    font-weight: 700;
}
.home__section6-counters {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: $small) {
        flex-direction: column;
    }
}
.home__section6-circle1, .home__section6-circle2, .home__section6-circle3, .home__section6-circle4 {
    background-color: $backgrounds;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    position: relative;
    z-index: -1;
}
.home__section6-number4, .home__section6-number3, .home__section6-number2, .home__section6-number1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home__section6-desc {
    font-family: $font;
    color: #8492A6;
    font-size: 18px;
    margin-top: 27px;
    text-align: center;
    margin-bottom: 100px;

    
}
.home__section7-button {
    background-color: #2ECA8B;
    font-family: $font;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}
.home__section7-wrapper {
    background-color: $backgrounds;
    width: 100%;
    padding-bottom: 79px;

    @media screen and (max-width: $small) {
        padding-bottom: 60px;
    }

    h2 {
        font-family: $font;
        text-align: center;
        color: #161C2D;
        padding-top: 108px; 
        font-size: 30px;
        font-weight: 400;

        @media screen and (max-width: $small) {
            padding-top: 85px;
        }
    }

    img {
        margin-top: 15px;
        width: 62px;
        height: 62px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;

        @media screen and (max-width: $small) { 
            width: 50px;
            height: 50px;
        }
    }

    p {
        font-family: $font;
        color: #ADB5BD;
        font-size: 18px;
        padding-bottom: 55px;
        text-align: center;
        padding-top: 50px;
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        
        @media screen and (max-width: $small) {
            font-size: 16px;
            width: 75%;
    }

    } 
    a {
        text-decoration: none;
        color: white;
    }
}


@keyframes rocket {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(0px, -800px);
    }
}