$font: 'Nunito';
$backgrounds: #F8F9FC;
$blue-texts: #2F55D4;
$grey-texts: #8492A6;

.offer {
    &__title {
        font-family: $font;
        color: black;
        font-size: 35px;
        text-align: center;
        margin-top: 80px;

    }

    &__description {
        font-family: $font;
        font-size: 18px;
        color: #ADB5BD;
        width: 85%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 35px auto 140px auto;
    }

    &__single {

        &-offer {
        background-color: $backgrounds;
        border-radius: 10px;
        width: 85%;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        margin-bottom: 30px;
        height: 190px;
        justify-content: center;
        align-items: center;
    }
        
        &-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 22%;
            img {
                width: 60px;
                height: 60px;
            }
        }

        &-title{
            font-family: $font;
            font-size: 25px;
            color: black;
            text-align: center;
            margin-top: 10px;

        }

        &-desc1 {
            font-family: $font;
            font-size: 16px;
            color: $grey-texts;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 4%;
            width: 30%;
        }
        &-list {
            font-family: $font;
            color:$grey-texts;
            font-size: 16px;
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 190px;
            height: 80%;
        }
        &-button {
            background-color: #2ECA8B;
            border: none;
            height: 40px;
            width: 15%;
            font-size: 12px;
            font-family: $font;
            min-width: 150px;
            border-radius: 10px;
            transition: 0.3s;

            &:hover > a {
                padding-right: 0px;
            }
            
            a {
            color: white;
            text-decoration: none;
            padding: 0px 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;

            &:after { 
                padding-left: 3px;
                content: " ";
                background-position: center;
                background-image: url("../../images/next1.svg");
                width: 14px;
                height: 14px;
                background-size: contain;
                display: inline-block;
            }
        }
            
        }
    }
}