$font: 'Nunito';
$backgrounds: #F8F9FC;
$blue-texts: #2F55D4;
$grey-texts: #8492A6;
$small: 700px;

.outsourcing {
    &__section1 {
        
        display: flex;

        @media screen and (max-width: $small) {
            flex-direction: column;
        }
        &-left {
            width: 55%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: $small) {
                order:2;
                width: 100%;
                margin-bottom: 50px;
            }

            img {
                width: 85%;
                height: 70%;
            }
        }
        &-right {
            width: 45%;

            @media screen and (max-width: $small) {
                width: 100%;
            }
        }
        &-title {
            font-family: $font;
            font-size: 35px;
            color: #161C2D;
            margin-top: 80px;
            margin-bottom: 50px;

            @media screen and (max-width: $small) {
                margin-top: 50px;
                text-align: center;
            }
        }
        &-description {
            color: $grey-texts;
            font-size: 18px;
            width: 80%;
            font-family: $font;
            margin-bottom: 100px;

            @media screen and (max-width: $small) {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    &__section2 {
        background-color: $backgrounds;
                display: flex;
                flex-direction: column;

                
                
                &-content {
                width: 85%;
                display: flex;
                justify-content: space-between;
                margin-right: auto;
                margin-left: auto;
                padding-top: 50px;
                padding-bottom: 50px;
                
                @media screen and (max-width: $small) {
                    flex-direction: column;
                }
            }
            &-title {
                font-family: $font;
                color: #161C2D;
                font-size: 20px;
                text-align: center;
                padding-top: 50px;
                justify-content: center;
            }
        
        }
            &__single {

            position: relative;
            border: 2px solid rgba(47, 86, 212, 0.15);
            border-radius: 10px;
            width: 30%;
            display: flex;
            flex-direction: column;

            @media screen and (max-width: $small) {
                width: 100%;
                margin-bottom: 25px;
            }
            
            
            &-title {
                font-family: $font;
                color:$blue-texts;
                font-size: 20px;
                text-align: center;
                margin-bottom: auto;
                margin-top: 15px;
            }
            &-description{
                font-family: $font;
                font-size: 18px;
                color:$grey-texts;
                text-align: center;
                width: 85%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 10px;
                margin-bottom: 50px;
            }
            &-number {
                font-size: 45px;
                font-family: $font;
                font-weight: 700;
                color:rgba(47, 86, 212, 0.15);
                position: absolute;
                left: 5%;
                bottom: 0;
            }
    }
    &__button {

            background-color: $blue-texts;
            border-radius: 10px;
            border: none;
            padding: 10px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 55px auto;
            a{
            color: white;
            font-family: $font;
            font-size: 16px;
            text-decoration: none;          
        }
    }
}