$font: 'Nunito';
$backgrounds: #F8F9FC;
$blue-texts: #2F55D4;
$grey-texts: #8492A6;
$small: 700px;

.soft {
    &__section {
        display: flex;

        @media screen and (max-width: $small) {
            flex-direction: column;
        }

    }
    &__title {
        font-family: $font;
        font-size: 30px;
        color:$blue-texts;
        padding-left: 13%;
        margin-top: 67px;
        margin-bottom: 37px;

        @media screen and (max-width: $small) {
            padding-left: 0;
            font-size: 25px;
            margin-top: 50px;
            margin-bottom: 30px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

    }
    &__description {
        font-family: $font;
        color: $grey-texts;
        font-size: 18px;
        width: 90%;
        padding-left: 13%;
        margin-bottom: 80px;

        @media screen and (max-width: $small) {
            padding-left: 0;
            margin-bottom: 50px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }
    }
    &__left {
        width: 60%;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: $small) {
            width: 100%;
        }
    }
    &__right {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: $small) {
            width: 100%;
        }

        img {
            width: 95%;
            height: auto;
            padding-right: 10%;

            @media screen and (max-width: $small) {
                padding-right: 0;
                width: 80%;
            }
        }
    }
    &__button {
        background-color: $blue-texts;
        border-radius: 10px;
        border: none;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 55px auto;
        a{
        color: white;
        font-family: $font;
        font-size: 16px;
        text-decoration: none;
        }
    }
    &__single {
        background-color: $backgrounds;
        &-wrapper {
            width: 69%;
            padding-top: 61px;
            justify-content: space-between;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            margin-left: auto;
            margin-right: auto;

            @media screen and (max-width: $small) {
                flex-direction: column;
                width: 85%;
            }
        }
        &-offer{
            width: 46%;
            border: 2px solid rgba(47, 86, 212, 0.15);
            border-radius: 10px;
            margin-bottom: 57px;
            position: relative;

            @media screen and (max-width: $small) {
                width: 100%;
                margin-bottom: 25px;
            }
            img {
                width: 50px;
                height: 50px;
                position: absolute;
                top: 10px;
                right: 10px;

                @media screen and (max-width: $small) {
                    width: 30px;
                    height: 30px;
                }
            
        }
        }
        &-title {
            font-family: $font;
            color:$blue-texts;
            font-size: 20px;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 20px;

            @media screen and (max-width: $small) {
                font-size: 18px;
            }

        }
        &-desc1 {
            color:$grey-texts;
            font-family: $font;
            width: 85%;
            text-align: center;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;

            @media screen and (max-width: $small) {
                margin-bottom: 30px;
            }
        }
    }
}