$font: 'Nunito';
$backgrounds: #F8F9FC;
$blue-texts: #2F55D4;
$grey-texts: #8492A6;
$small: 700px;

.website {
    &__section1 {
        width: 100%;
        display: flex;

        @media screen and (max-width: $small) {
            flex-direction: column;
        }

        &-title{
            font-family: $font;
            color: #161C2D;
            font-size: 30px;
            padding-left: 13%;
            margin-top: 67px;
            margin-bottom: 37px;

            @media screen and (max-width: $small) {
                font-size: 25px;
                text-align: center;
                padding-left: 0;
                margin-top: 50px;
                margin-bottom: 30px;
            }
        }
        &-desc {
            font-size: 18px;
            color:$grey-texts;
            font-family: $font;
            width: 90%;
            padding-left: 13%;
            margin-bottom: 80px;

            @media screen and (max-width: $small) {
                padding-left: 0;
                text-align: center;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 50px;
            }

        }
        &-left {
            width: 60%;
            display: flex;
            flex-direction: column;

            @media screen and (max-width: $small) {
                width: 100%;
            }
        }
        &-right {
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: $small) {
                width: 100%;
            }
            img {
                width: 95%;
                height: auto;
                padding-right: 10%;

                @media screen and (max-width: $small) {
                    width: 70%;
                    padding-right: 0;
                }
            }
        }

    }
    &__single {
        position: relative;
        border: 2px solid rgba(47, 86, 212, 0.15);
        border-radius: 10px;
        width: 30%;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: $small) {
            width: 100%;
            margin-bottom: 25px;
        }
        
        

        &-wrapper {
            background-color: $backgrounds;
            display: flex;

            @media screen and (max-width: $small) {
                flex-direction: column;
            }
        }
        &-content {
            width: 85%;
            display: flex;
            justify-content: space-between;
            margin-right: auto;
            margin-left: auto;
            padding-top: 80px;
            padding-bottom: 50px;

            @media screen and (max-width: $small) {
                flex-direction: column;
            }
        }
        &-title {
            font-family: $font;
            color:$blue-texts;
            font-size: 20px;
            text-align: center;
            margin-bottom: auto;
            margin-top: 15px;

            @media screen and (max-width: $small) {
                width: 80%;
                font-size: 18px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        &-description{
            font-family: $font;
            font-size: 18px;
            color:$grey-texts;
            text-align: center;
            width: 85%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            margin-bottom: 50px;
        }
        &-number {
            font-size: 45px;
            font-family: $font;
            font-weight: 700;
            color:rgba(47, 86, 212, 0.15);
            position: absolute;
            left: 5%;
            bottom: 0;
        }
    }
    &__section2 {
        display: flex;

        @media screen and (max-width: $small) {
            flex-direction: column;
        }
        &-left {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: $small) {
                width: 100%;
                margin-top: 50px;
            }

            img {
                width: 80%;
                height: 75%;
            }
        }
        &-right {
            width: 50%;

            @media screen and (max-width: $small) {
                width: 100%;
            }

        }
        &-title {
            font-family: $font;
            font-size: 30px;
            color:$blue-texts;
            margin-bottom: 20px;
            margin-top: 80px;

            @media screen and (max-width: $small) {
                text-align: center;
                font-size: 25px;
                margin-top: 40px;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        &-description {
            color:$grey-texts;
            font-size: 18px;
            font-family: $font;
            margin-bottom: 80px;
            width: 80%;

            @media screen and (max-width: $small) {
                text-align: center;
                margin-bottom: 40px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    &__realizations {
        &-title {
            color: #3F3D56;
            font-size: 20px;
            text-align: center;
            font-family: $font;
            margin-bottom: 60px;

        }
        &-content {
            width: 80%;
            display: flex;
            position: relative;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-left: auto;
            margin-right: auto;

            @media screen and (max-width: $small) {
                flex-direction: column;
            }
        }
        &-single {
            width: 32%;
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: center;

            @media screen and (max-width: $small) {
                width: 100%;
            }

                img {
                width: 100%;
            }
                h2 {
                text-align: center;
                font-family: $font;
                color: $grey-texts;
                font-size: 20px;
                margin-top: 30px;
                margin-bottom: 50px;

                @media screen and (max-width: $small) {
                    font-size: 18px;
                    margin-bottom: 20px;
                }
            }
        }
    }
    &__button {
        background-color: $blue-texts;
        border-radius: 10px;
        border: none;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 55px auto;
        a{
        color: white;
        font-family: $font;
        font-size: 16px;
        text-decoration: none;
        }
    }
}